/* HEADER */ 

header { 
    & .header_section { 
        padding-bottom: 20px;
    }
        & ul { 
            
            display: flex;
            list-style: none;
            width: 100%;       
            height: 50px;
            @include center;
            margin: 0px;
            padding: 0px;
            padding-left: 0%;
            background-color: $darken-background;
                & .header_section_picto { 
                    display: flex;
                    height: 40%;
                    @include center;
                    opacity: 0.8;
                    padding-right: 20px;
                    }
                & .header_section_input { 
                    display: flex;
                    height: 40%;
                    max-width: 150px;
                    margin-left: 0 ;
                    margin-right: 0 ;
                }
                &::placeholder { 
                text-decoration : none;
                background-color: white;
                background-color: $darken-background;
                font-family     : $font-text;
                border          : none;
                font-weight     : bold;
                background-clip : content-box;
                width: 100%;
                }
                & input { 
                display        : flex;
                text-decoration: none;
                border         : none;
                height         : 100%;
                width: 100%;
                background-color: $darken-background;
                opacity: 0.8;
                font-size       : 1em;
                font-weight     : bold;
                }
    }

    & h2, h3 { 
        display: flex;
        text-align: center;
    }

    & h2 { 
        width: 70%;
        margin: 0px auto;
        margin-top: 1em;
        justify-content: center;
    }

    & h3 { 
        font-weight: initial;
        width: 90%;
        margin: 0px auto;
        margin-top:20px;
        margin-bottom:25px;
        justify-content: center;
    }

    & .header_section_button { 
        text-decoration: none;
        @include mixin-button;
        margin-bottom: 50px;
    }
}

/* TUTORIEL */ 

.section_tuto { 
    width: 100%;
    max-width: 1780px;
    margin: 0 auto;
    & h2 { 
        margin-left: 10px;
        margin-top: 50px;
    }

    & .section_tuto_color { 
        background-color: lighten($color: $color-primary, $amount: 35%);
    }

    & ul { 
        margin-left:  auto;
        margin-right:  auto;
        position: relative;
        list-style: none;

        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 86%;
        height: 75px;
        background-color: $color-background;
        border-radius: 1.25em;
        box-shadow: $button-shadow;
        margin-top: 25px;
        padding-left: 0px;

        & .section_tuto_number { 
            display: flex;
            position: absolute;
            left: -10px;
            @include center;
            width: 25px;
            height: 25px;
            background-color: $color-primary;
            color: white;
            border-radius: 15px;
        }

        & .section_tuto_text { 
            display: flex;
            width: 220px;
            font-weight: bolder;
            width: 200px;
        }

        & .fa-store { 
            color: $color-primary;
        }
        & i { 
            font-size: 1.2em;
            color: darken($color: $color-background, $amount: 50%);
        }
    }
}


/* CARDS RESTAURANT */ 

.background_container_article { 
    width: 100%;
    background-color: $color-background;
}

.container_article {     
    margin: 0 auto;
    margin-top: 50px;
    padding-bottom: 45px;
    max-width: 1780px;

    & h2 { 
        padding-top: 50px;
        margin-left: 10px;
    }

    & a { 
        text-decoration: none;
    }

    & article {
        position: relative;
        height: 255px;
        margin: 15px;
        font-size: 0.85em;
        box-shadow: $button-shadow;
        border-radius: 1.5em 1.5em 1.5em 1.5em;
        cursor: pointer;
        
            & img {
                display      : flex;
                object-fit   : cover;
                border-radius: 1.5em 1.5em 0em 0em;
                width        : 100%;
                height       : 175px;
                padding-bottom: 0.5em;
            }
        
            & .article_content { 
                display: flex;
                align-items: center;
            

                & .article_content_text { 
                    width: 90%;
                }
            }

            & h5 { 
                font-size: 1.3em;
                color: black;
                margin: 5px 0px 0px 15px;
            }
            & p { 
                color: black;
                font-size: 1.1em;
                margin: 5px 0px 0px 15px;
            }    
  
            & .far { 
                font-size: 1.5em;
                cursor: pointer;
            }

        & span { 
            display: flex;
            position: absolute;
            width: 80px;
            height: 30px;
            right: 15px;
            top: 15px;
            background-color: $color-third;
            color: darken($color: $color-third, $amount: 35%);
            font-weight: bolder;
            @include center;

        }
    }   
}

/* MEDIA QUERIES */

@media (min-width: 768px) {
    .section_tuto {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        position: relative;

        & h2 { 
        width: 100%;
            }
            & ul { 
            width: 25%;
            height: 150px;
            flex-direction: column-reverse;
            justify-content: center;
            align-items: center ;

            & i { 
                padding-top: 1em;
            }

                & .section_tuto_text { 
                    width: auto;
                    font-size: 1.2em;
                    width: 90%;
                    text-align: center;
                    justify-content: center;
                }
                & .section_tuto_number { 
                    margin-left: auto;
                    margin-right: auto;
                    left: 0;
                    right: 0;
                    top: -17px;

                    width: 35px;
                    height: 35px;
                    border-radius: 9em;
                }
            }
    }

    .container_article { 
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        @include center;

        & h2 { 
        width: 100%;
        }

        & article { 
            width: 45%;
            height: 300px;

            & img { 
                height: 220px;
            }
        }
    }
}