body { 
    margin: 0 auto;
    padding: 0;
    font-family: $font-text;
    height: 100vh;
    & .page { 
        margin: 0 auto;
        opacity: 0;
        animation: page-appear 2.8s 3.2s;
        animation-fill-mode: both;
        position: fixed;
    }

    & .pagenofooter { 
        margin: 0 auto;
    }


}