footer { 
    display: flex;
    height: 198px;
    width: 100%;
    background: $color-footer;
    color: white;
    & ul { 
        width: 100%;
        max-width: 1780px;
        margin: 0px auto;
        list-style: none;
        padding: 15px;
            & .footer_logo { 
            font-family: $font-title;
            padding-bottom: 10px;
        }
        & li { 
            padding-top : 10px;
                & .fas { 
                    width: 20px;
                    height: 20px;
                    padding-right: 10px;
            }
                & a { 
                    text-decoration: none;
                    color: white;
                }
        }        
    }
}
