.far { 
    &:hover { 
            font-weight: 600;
            background: linear-gradient(171deg, $color-secondary 3%, $color-primary 100%);
            -webkit-text-fill-color: transparent;
            -webkit-background-clip: text;
    }
}