@import "./Utils/variables";
@import "./Base/header";
@import "./Base/footer";
@import "./Pages/index";

@font-face {
    font-family: 'Shrikhand';    
    src : url('Shrikhand-Regular.otf');
}

body { 
    margin: 0px;
}