@charset "UTF-8";
/* Variables */
@font-face {
  font-family: "Shrikhand";
  src: url("Shrikhand-Regular.otf");
}
/* apparition page type opacité */
@keyframes fadein {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
@-moz-keyframes fadein {
  /* sur Firefox */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  /* sur Safari et Chrome */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fadein {
  /* sur Opera */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* animation des pictos coeur */
@keyframes fadein-picto {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeout-picto {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
/* rotation picto check page type */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* page loading & apparition index */
@keyframes page-appear {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
@keyframes loader-disappear {
  0% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 0;
    transform: translateY(-100%);
  }
}
body {
  margin: 0 auto;
  padding: 0;
  font-family: "Roboto", sans-serif;
  height: 100vh;
}
body .page {
  margin: 0 auto;
  opacity: 0;
  animation: page-appear 2.8s 3.2s;
  animation-fill-mode: both;
}
body .pagenofooter {
  margin: 0 auto;
}

header {
  position: relative;
  height: auto;
  width: 100%;
  background-color: #F6F6F6;
  padding-bottom: 1px;
}
header nav {
  display: flex;
  height: 16%;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: white;
  position: relative;
  z-index: 999;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.43);
}
header nav .logo {
  height: 50%;
  width: 50%;
  max-width: 350px;
}
header nav .logo img {
  object-fit: cover;
  width: 100%;
}
header .nav_button {
  position: absolute;
  left: 25px;
}
header .nav_button i {
  font-size: 1.5em;
  font-weight: bold;
  color: black;
}

footer {
  display: flex;
  height: 198px;
  width: 100%;
  background: #353535;
  color: white;
}
footer ul {
  width: 100%;
  max-width: 1780px;
  margin: 0px auto;
  list-style: none;
  padding: 15px;
}
footer ul .footer_logo {
  font-family: "Shrikhand";
  padding-bottom: 10px;
}
footer ul li {
  padding-top: 10px;
}
footer ul li .fas {
  width: 20px;
  height: 20px;
  padding-right: 10px;
}
footer ul li a {
  text-decoration: none;
  color: white;
}

/* HEADER */
header .header_section {
  padding-bottom: 20px;
}
header ul {
  display: flex;
  list-style: none;
  width: 100%;
  height: 50px;
  justify-content: center;
  align-items: center;
  margin: 0px;
  padding: 0px;
  padding-left: 0%;
  background-color: #e4e4e4;
}
header ul .header_section_picto {
  display: flex;
  height: 40%;
  justify-content: center;
  align-items: center;
  opacity: 0.8;
  padding-right: 20px;
}
header ul .header_section_input {
  display: flex;
  height: 40%;
  max-width: 150px;
  margin-left: 0;
  margin-right: 0;
}
header ul::placeholder {
  text-decoration: none;
  background-color: white;
  background-color: #e4e4e4;
  font-family: "Roboto", sans-serif;
  border: none;
  font-weight: bold;
  background-clip: content-box;
  width: 100%;
}
header ul input {
  display: flex;
  text-decoration: none;
  border: none;
  height: 100%;
  width: 100%;
  background-color: #e4e4e4;
  opacity: 0.8;
  font-size: 1em;
  font-weight: bold;
}
header h2, header h3 {
  display: flex;
  text-align: center;
}
header h2 {
  width: 70%;
  margin: 0px auto;
  margin-top: 1em;
  justify-content: center;
}
header h3 {
  font-weight: initial;
  width: 90%;
  margin: 0px auto;
  margin-top: 20px;
  margin-bottom: 25px;
  justify-content: center;
}
header .header_section_button {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px auto;
  height: 50px;
  width: 220px;
  border-radius: 2em;
  border: none;
  background: linear-gradient(171deg, #FF79DA 3%, #9356DC 100%);
  box-shadow: 0px 15px 26px -17px rgba(0, 0, 0, 0.46);
  color: white;
  font-size: 1em;
  transform: scale(1);
  transition: 0.2s;
  margin-bottom: 50px;
}
header .header_section_button:hover {
  transform: scale(1.05);
  box-shadow: 5px 15px 35px -10px rgba(0, 0, 0, 0.46);
  background: linear-gradient(171deg, rgba(255, 121, 218, 0.88) 3%, rgba(147, 86, 220, 0.88) 100%);
}

/* TUTORIEL */
.section_tuto {
  width: 100%;
  max-width: 1780px;
  margin: 0 auto;
}
.section_tuto h2 {
  margin-left: 10px;
  margin-top: 50px;
}
.section_tuto .section_tuto_color {
  background-color: #f2eafb;
}
.section_tuto ul {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 86%;
  height: 75px;
  background-color: #F6F6F6;
  border-radius: 1.25em;
  box-shadow: 0px 15px 26px -17px rgba(0, 0, 0, 0.46);
  margin-top: 25px;
  padding-left: 0px;
}
.section_tuto ul .section_tuto_number {
  display: flex;
  position: absolute;
  left: -10px;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  background-color: #9356DC;
  color: white;
  border-radius: 15px;
}
.section_tuto ul .section_tuto_text {
  display: flex;
  width: 220px;
  font-weight: bolder;
  width: 200px;
}
.section_tuto ul .fa-store {
  color: #9356DC;
}
.section_tuto ul i {
  font-size: 1.2em;
  color: #777777;
  padding-top: 1em;
}

/* CARDS RESTAURANT */
.background_container_article {
  width: 100%;
  background-color: #F6F6F6;
}

.container_article {
  margin: 0 auto;
  margin-top: 50px;
  padding-bottom: 45px;
  max-width: 1780px;
}
.container_article h2 {
  padding-top: 50px;
  margin-left: 10px;
}
.container_article a {
  text-decoration: none;
}
.container_article article {
  position: relative;
  height: 255px;
  margin: 15px;
  font-size: 0.85em;
  box-shadow: 0px 15px 26px -17px rgba(0, 0, 0, 0.46);
  border-radius: 1.5em 1.5em 1.5em 1.5em;
  cursor: pointer;
}
.container_article article img {
  display: flex;
  object-fit: cover;
  border-radius: 1.5em 1.5em 0em 0em;
  width: 100%;
  height: 175px;
  padding-bottom: 0.5em;
}
.container_article article .article_content {
  display: flex;
  align-items: center;
}
.container_article article .article_content .article_content_text {
  width: 90%;
}
.container_article article h5 {
  font-size: 1.3em;
  color: black;
  margin: 5px 0px 0px 15px;
}
.container_article article p {
  color: black;
  font-size: 1.1em;
  margin: 5px 0px 0px 15px;
}
.container_article article .far {
  font-size: 1.5em;
  cursor: pointer;
}
.container_article article span {
  display: flex;
  position: absolute;
  width: 80px;
  height: 30px;
  right: 15px;
  top: 15px;
  background-color: #99E2D0;
  color: #2c9c81;
  font-weight: bolder;
  justify-content: center;
  align-items: center;
}

/* MEDIA QUERIES */
@media (min-width: 728px) {
  .section_tuto {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
  }
  .section_tuto h2 {
    width: 100%;
  }
  .section_tuto ul {
    width: 25%;
    height: 150px;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  .section_tuto ul .section_tuto_text {
    width: auto;
    font-size: 1.2em;
    width: 90%;
    text-align: center;
    justify-content: center;
  }
  .section_tuto ul .section_tuto_number {
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: -17px;
    width: 35px;
    height: 35px;
    border-radius: 9em;
  }

  .container_article {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .container_article h2 {
    width: 100%;
  }
  .container_article article {
    width: 45%;
    height: 300px;
  }
  .container_article article img {
    height: 220px;
  }
}
/* HEADER */
.header_picture {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 275px;
  object-fit: cover;
}

/* E?TREES PLATS DESSERTS */
.main_container {
  display: flex;
  flex-direction: column;
  background-color: #F6F6F6;
  margin-top: 220px;
  border-radius: 2em;
  padding: 0px 15px 0px 15px;
}
.main_container button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px auto;
  height: 50px;
  width: 220px;
  border-radius: 2em;
  border: none;
  background: linear-gradient(171deg, #FF79DA 3%, #9356DC 100%);
  box-shadow: 0px 15px 26px -17px rgba(0, 0, 0, 0.46);
  color: white;
  font-size: 1em;
  transform: scale(1);
  transition: 0.2s;
  margin-top: 25px;
  margin-bottom: 25px;
}
.main_container button:hover {
  transform: scale(1.05);
  box-shadow: 5px 15px 35px -10px rgba(0, 0, 0, 0.46);
  background: linear-gradient(171deg, rgba(255, 121, 218, 0.88) 3%, rgba(147, 86, 220, 0.88) 100%);
}
.main_container_title {
  width: calc(100% - 60px);
  min-width: 281px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.main_container_title h2 {
  margin-left: 10px;
  font-family: "Shrikhand";
  font-size: 1.5em;
}
.main_container_box {
  display: flex;
  flex-direction: column;
}
.main_container_box h3 {
  font-weight: initial;
  width: 40px;
  padding-bottom: 9px;
  border-bottom: #99E2D0 3px solid;
  font-size: 1em;
}
.main_container_box_content {
  display: grid;
  grid-template-columns: 43% 43% 14%;
  grid-template-rows: 35px 35px;
  gap: 0px 0px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  align-items: center;
  border-radius: 1em;
  overflow: hidden;
  background-color: white;
}
.main_container_box_content:hover i {
  animation: spin 1.2s;
}
.main_container_box_content:hover .main_container_box_content_picto {
  transform: translateX(-60px);
}
.main_container_box_content:hover span {
  transform: translateX(-60px);
}
.main_container_box_content:hover p {
  width: calc(90% - 60px);
}
.main_container_box_content:hover h4 {
  width: calc(90% - 60px);
}
.main_container_box_content h4 {
  grid-row: 1;
  grid-column: 1/span 2;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1.1em;
  padding-left: 15px;
  width: 90%;
  transition: 1s;
  margin: 0px;
  font-size: 1.1em;
}
.main_container_box_content p {
  grid-row: 2;
  grid-column: 1/span 2;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 15px;
  width: 90%;
  transition: 1s;
}
.main_container_box_content span {
  grid-row: 2;
  grid-column: 3;
  transition: 1s;
  background-color: white;
  text-align: center;
  font-weight: bolder;
}
.main_container_box_content .main_container_box_content_picto {
  grid-row: 1/span 2;
  display: flex;
  background-color: #99E2D0;
  color: white;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 100%;
  border-radius: 0em 1em 1em 0em;
  transform: translateX(1px);
  transition: 1s;
}
.main_container_box_content .main_container_box_content_picto i {
  font-size: 1.5em;
}

/* boucle apparition progressive des cards menu */
.main_container_box:nth-child(1) {
  animation-name: fadein;
  animation-duration: 2s;
  animation-delay: 0.1666666667s;
  animation-fill-mode: both;
  opacity: 0;
}

.main_container_box:nth-child(2) {
  animation-name: fadein;
  animation-duration: 2s;
  animation-delay: 0.3333333333s;
  animation-fill-mode: both;
  opacity: 0;
}

.main_container_box:nth-child(3) {
  animation-name: fadein;
  animation-duration: 2s;
  animation-delay: 0.5s;
  animation-fill-mode: both;
  opacity: 0;
}

.main_container_box:nth-child(4) {
  animation-name: fadein;
  animation-duration: 2s;
  animation-delay: 0.6666666667s;
  animation-fill-mode: both;
  opacity: 0;
}

.main_container_box:nth-child(5) {
  animation-name: fadein;
  animation-duration: 2s;
  animation-delay: 0.8333333333s;
  animation-fill-mode: both;
  opacity: 0;
}

.main_container_box:nth-child(6) {
  animation-name: fadein;
  animation-duration: 2s;
  animation-delay: 1s;
  animation-fill-mode: both;
  opacity: 0;
}

/* MEDIA QUERIES */
@media (min-width: 1024px) {
  .main_container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .main_container h3 {
    width: 50px;
  }
  .main_container .main_container_box {
    padding: 0em 1em 0em 1em;
    width: 30%;
  }
  .main_container .main_container_box .main_container_box_content {
    width: 100%;
  }
}
.circle {
  position: fixed;
  background: linear-gradient(171deg, #FF79DA 3%, #9356DC 100%);
  font-size: 40px;
  text-align: center;
  line-height: 800px;
  height: 100%;
  width: 100%;
  color: white;
  animation: loader-disappear 3s 3s;
  animation-fill-mode: both;
}
.circle .loader {
  display: inline-block;
  height: 35px;
  width: 35px;
  vertical-align: middle;
  margin: 0px 15px 5px 0px;
}
.circle .loader.loader-quart {
  position: relative;
  border-radius: 35px;
  border: 6px solid rgba(255, 255, 255, 0.5);
}
.circle .loader.loader-quart::after {
  position: absolute;
  top: -6px;
  left: -6px;
  bottom: -6px;
  right: -6px;
  content: "";
  border-radius: 50px;
  border: 6px solid transparent;
  border-top: white 6px solid;
  animation: spin 1s linear infinite;
}

.far:hover {
  font-weight: 600;
  background: linear-gradient(171deg, #FF79DA 3%, #9356DC 100%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.animation_pictogramme {
  position: relative;
  width: 21px;
  height: 21px;
}
.animation_pictogramme .far {
  position: absolute;
  font-size: 1.3em;
  cursor: pointer;
}
.animation_pictogramme .fas {
  position: absolute;
  font-size: 1.3em;
  cursor: pointer;
  opacity: 0;
}
.animation_pictogramme:hover .fas {
  animation: fadein-picto 1.2s;
  animation-fill-mode: both;
  cursor: pointer;
  background: -moz-linear-gradient(top, #9356DC 0%, #FF79DA 100%);
  background: -webkit-linear-gradient(top, #9356DC 0%, #FF79DA 100%);
  background: linear-gradient(to bottom, #9356DC 0%, #FF79DA 100%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: font-weight ease-in-out 2s;
}
.animation_pictogramme:hover .far {
  animation: fadeout-picto 0.2s;
  animation-fill-mode: both;
  background-position: 0 100%;
  cursor: pointer;
}

/*# sourceMappingURL=style.css.map */
