/* Variables */ 

$color-primary :#9356DC;
$color-secondary: #FF79DA;
$color-third:#99E2D0; 
$color-background: #F6F6F6;
$darken-background: darken($color-background, +7%);

$button-shadow:0px 15px 26px -17px rgba(0,0,0,0.46);

$color-footer: #353535;

$font-title: 'Shrikhand'; 
$font-text: 'Roboto', sans-serif;


/* hover */ 
.far { 
    &:hover { 
            font-weight: 999;
            background: linear-gradient(171deg, $color-secondary 3%, $color-primary 100%);
            -webkit-text-fill-color: transparent;
            -webkit-background-clip: text;
            animation-name: fadein 9s;
    }
}

@for $i from 1 through 6 { 
    .main_container_box:nth-child(#{$i}) { 
        animation-name: fadein;
        animation-duration: 2s;
        animation-delay: #{$i/6}s; 
        animation-fill-mode: both;
        opacity: 0;
    }
}