/* Variables */
/* hover */
.far:hover {
  font-weight: 999;
  background: linear-gradient(171deg, #FF79DA 3%, #9356DC 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@font-face {
  font-family: "Shrikhand";
  src: url("Shrikhand-Regular.otf");
}
@keyframes fadein {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}
@-moz-keyframes fadein {
  /* sur Firefox */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  /* sur Safari et Chrome */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fadein {
  /* sur Opera */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
body {
  font-family: "Roboto", sans-serif;
  margin: 0px;
}

header {
  position: relative;
  height: auto;
  width: 100%;
  background-color: #F6F6F6;
}
header nav {
  display: flex;
  height: 16%;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: white;
  position: relative;
  z-index: 999;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.43);
}
header nav .logo {
  height: 50%;
  width: 50%;
  max-width: 350px;
}
header nav .logo img {
  object-fit: cover;
  width: 100%;
}
header .nav_button {
  position: absolute;
  left: 25px;
}
header .nav_button i {
  font-size: 1.5em;
  font-weight: bold;
  color: black;
}

footer {
  display: flex;
  height: 198px;
  width: 100%;
  background: #353535;
  color: white;
}
footer ul {
  list-style: none;
}
footer ul .footer_logo {
  font-family: "Shrikhand";
  padding-bottom: 10px;
}
footer ul li {
  padding-top: 10px;
}
footer ul li .fas {
  width: 20px;
  height: 20px;
  padding-right: 10px;
}
footer ul li a {
  text-decoration: none;
  color: white;
}

header {
  width: 100%;
  height: auto;
}
header .header_section {
  padding-bottom: 70px;
}
header ul {
  display: flex;
  list-style: none;
  width: 100%;
  height: 50px;
  justify-content: center;
  align-items: center;
  margin: 0px;
  padding: 0px;
  padding-left: 0%;
  background-color: #e4e4e4;
}
header ul .header_section_picto {
  display: flex;
  height: 40%;
  justify-content: center;
  align-items: center;
  opacity: 0.8;
  padding-right: 20px;
}
header ul .header_section_input {
  display: flex;
  height: 40%;
  max-width: 150px;
  margin-left: 0 auto;
  margin-right: 0 auto;
}
header ul::placeholder {
  text-decoration: none;
  background-color: white;
  background-color: #e4e4e4;
  font-family: "Roboto", sans-serif;
  border: none;
  font-weight: bold;
  background-clip: content-box;
  width: 100%;
}
header ul input {
  display: flex;
  text-decoration: none;
  border: none;
  height: 100%;
  width: 100%;
  background-color: #e4e4e4;
  opacity: 0.8;
  font-size: 1em;
  font-weight: bold;
}
header h2, header h3 {
  display: flex;
  text-align: center;
}
header h2 {
  width: 70%;
  margin: 0px auto;
  margin-top: 1em;
  justify-content: center;
}
header h3 {
  font-weight: initial;
  width: 90%;
  margin: 0px auto;
  margin-top: 20px;
  margin-bottom: 25px;
  justify-content: center;
}
header a {
  text-decoration: none;
}
header a button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px auto;
  height: 50px;
  width: 220px;
  border-radius: 2em;
  border: none;
  font-family: "roboto";
  background: linear-gradient(171deg, #FF79DA 3%, #9356DC 100%);
  box-shadow: 0px 15px 26px -17px rgba(0, 0, 0, 0.46);
  color: white;
  font-size: 1em;
  transform: scale(1);
  transition: 0.2s;
}
header a button:hover {
  transform: scale(1.05);
  box-shadow: 5px 15px 35px -17px rgba(0, 0, 0, 0.46);
}

.section_tuto {
  width: 100%;
}
.section_tuto h2 {
  margin-left: 10px;
  margin-top: 50px;
}
.section_tuto .section_tuto_color {
  background-color: #f2eafb;
}
.section_tuto ul {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 86%;
  height: 75px;
  background-color: #F6F6F6;
  border-radius: 1.25em;
  box-shadow: 0px 15px 26px -17px rgba(0, 0, 0, 0.46);
  margin-top: 25px;
  padding-left: 0px;
}
.section_tuto ul .section_tuto_number {
  display: flex;
  position: absolute;
  left: -10px;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  background-color: #9356DC;
  color: white;
  border-radius: 15px;
}
.section_tuto ul .section_tuto_text {
  display: flex;
  width: 220px;
  font-weight: bolder;
  width: 200px;
}
.section_tuto ul .fa-store {
  color: #9356DC;
}
.section_tuto ul i {
  font-size: 1.2em;
  color: #777777;
  padding-left: 2em;
}

.container_article {
  margin-top: 50px;
  padding-bottom: 45px;
  background-color: #F6F6F6;
}
.container_article h2 {
  padding-top: 50px;
  margin-left: 10px;
}
.container_article a {
  text-decoration: none;
}
.container_article article {
  position: relative;
  height: 255px;
  margin: 15px;
  font-size: 0.85em;
  box-shadow: 0px 15px 26px -17px rgba(0, 0, 0, 0.46);
  border-radius: 1.5em 1.5em 1.5em 1.5em;
}
.container_article article img {
  display: flex;
  object-fit: cover;
  border-radius: 1.5em 1.5em 0em 0em;
  width: 100%;
  height: 175px;
  padding-bottom: 0.5em;
}
.container_article article .article_content {
  display: flex;
  align-items: center;
}
.container_article article .article_content .article_content_text {
  width: 80%;
}
.container_article article h5 {
  font-size: 1.3em;
  color: black;
  margin: 5px 0px 0px 15px;
}
.container_article article p {
  color: black;
  font-size: 1.1em;
  margin: 5px 0px 0px 15px;
}
.container_article article i {
  display: flex;
  width: 20%;
  justify-content: center;
}
.container_article article .far {
  font-size: 1.5em;
}
.container_article article span {
  display: flex;
  position: absolute;
  width: 80px;
  height: 30px;
  right: 15px;
  top: 15px;
  background-color: #99E2D0;
  color: #2c9c81;
  font-weight: bolder;
  justify-content: center;
  align-items: center;
}

@media (min-width: 728px) {
  .section_tuto {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
  }
  .section_tuto h2 {
    width: 100%;
  }
  .section_tuto ul {
    width: 25%;
    height: 150px;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  .section_tuto ul .section_tuto_text {
    width: auto;
    font-size: 1.2em;
    width: 90%;
    text-align: center;
    justify-content: center;
  }
  .section_tuto ul .section_tuto_number {
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: -17px;
    width: 35px;
    height: 35px;
    border-radius: 9em;
  }
  .section_tuto ul i {
    margin-left: 0 auto;
    margin-right: 0 auto;
    padding: 1em 0em 0em 0em;
    font-size: 1.5em;
  }

  .container_article {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .container_article h2 {
    width: 100%;
  }
  .container_article article {
    width: 45%;
    height: 300px;
  }
  .container_article article img {
    height: 220px;
  }
}
.header_picture {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 275px;
  object-fit: cover;
}

.main_container {
  display: flex;
  flex-direction: column;
  background-color: #F6F6F6;
  margin-top: 220px;
  border-radius: 2em;
  padding: 0px 15px 0px 15px;
}
.main_container_title {
  width: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.main_container_title h2 {
  margin-left: 10px;
  font-family: "Shrikhand";
  font-size: 1.5em;
}
.main_container_title .far {
  font-size: 1.3em;
}
.main_container_box {
  display: flex;
  flex-direction: column;
}
.main_container_box :nth-child(2) {
  opacity: 0;
  animation: fadein 2s;
  -moz-animation: fadein 2s;
  -webkit-animation: fadein 2s;
  -o-animation: fadein 2s;
  -webkit-animation-delay: 0.5s;
  -moz-animation-delay: 0.5s;
  -ms-animation-delay: 0.5s;
  -o-animation-delay: 0.5s;
  animation-delay: 0.5s;
  animation-fill-mode: both;
}
.main_container_box :nth-child(3) {
  opacity: 0;
  transition-property: opacity;
  animation: fadein 2s;
  -moz-animation: fadein 2s;
  -webkit-animation: fadein 2s;
  -o-animation: fadein 2s;
  -webkit-animation-delay: 0.7s;
  -moz-animation-delay: 0.7s;
  -ms-animation-delay: 0.7s;
  -o-animation-delay: 0.7s;
  animation-delay: 0.7s;
  animation-fill-mode: both;
}
.main_container_box :nth-child(4) {
  opacity: 0;
  transition-property: opacity;
  animation: fadein 2s;
  -moz-animation: fadein 2s;
  -webkit-animation: fadein 2s;
  -o-animation: fadein 2s;
  -webkit-animation-delay: 0.5s;
  -moz-animation-delay: 0.9s;
  -ms-animation-delay: 0.9s;
  -o-animation-delay: 0.9s;
  animation-delay: 0.9s;
  animation-fill-mode: both;
}
.main_container_box h4 {
  font-weight: initial;
  width: 40px;
  padding-bottom: 9px;
  border-bottom: #99E2D0 3px solid;
}
.main_container_box_content {
  position: relative;
  display: flex;
  flex-direction: column;
  background: white;
  margin-bottom: 17px;
  border-radius: 1em;
  box-shadow: 0px 15px 26px -17px rgba(0, 0, 0, 0.46);
  height: 70px;
  justify-content: center;
  overflow: hidden;
}
.main_container_box_content:hover .main_container_box_content_picto {
  transform: translateX(0%);
  transform-origin: right;
}
.main_container_box_content:hover .fas {
  transform: rotate(360deg);
}
.main_container_box_content strong {
  margin-right: 0%;
  transition-duration: 1s;
}
.main_container_box_content:hover strong {
  margin-right: 15%;
}
.main_container_box_content_picto {
  display: flex;
  position: absolute;
  right: 0;
  height: 100%;
  width: 15%;
  background-color: #99E2D0;
  color: white;
  font-size: 2em;
  justify-content: center;
  align-items: center;
  border-radius: 0em 0.5em 0.5em 0em;
  transform: translateX(100%);
  transition-duration: 1s;
}
.main_container_box_content_picto i {
  transform: rotate(0deg);
  transition-duration: 1s;
}
.main_container_box_content h5 {
  margin: 5px 0px 0px 15px;
  font-size: 1.2em;
}
.main_container_box_content p {
  display: flex;
  margin: 5px 0px 0px 15px;
  width: 90%;
  justify-content: space-between;
}
.main_container button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px auto;
  height: 50px;
  width: 220px;
  border-radius: 2em;
  border: none;
  font-family: "roboto";
  background: linear-gradient(171deg, #FF79DA 3%, #9356DC 100%);
  box-shadow: 0px 15px 26px -17px rgba(0, 0, 0, 0.46);
  color: white;
  font-size: 1em;
  transform: scale(1);
  transition: 0.2s;
  margin-top: 25px;
  margin-bottom: 25px;
}
.main_container button:hover {
  transform: scale(1.05);
  box-shadow: 5px 15px 35px -17px rgba(0, 0, 0, 0.46);
}

@media (min-width: 1024px) {
  .main_container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .main_container h4 {
    width: 50px;
  }
  .main_container .main_container_box {
    padding: 0em 1em 0em 1em;
    width: 30%;
  }
  .main_container .main_container_box .main_container_box_content {
    width: 100%;
    height: 100px;
  }
}

/*# sourceMappingURL=style.css.map */
